body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.container{
     max-width: 1200px;
     margin: auto;
     
     /* background-color: white; */
 }
 .logo{
     width: 20px;
 }

 .businet{
     padding-top: 10px;
     text-align: center;
     font-weight: bold;
     font-family: sans-serif;
     font-size: 25px;
     color: rgb(87, 86, 86);
 }
 .top{
     background-image: url(../images/bench-accounting-C3V88BOoRoM-unsplash.jpg);
     background-repeat: no-repeat;
     background-size: 1200px;
     height: 550px;
     /* padding: 40px; */
     margin-top: 20px;
 }

 .header{
     float: left;
     margin-left: 200px;
     padding-top: 20px;
     font-size: 19px;
     color: #271bd4;

    
 }
 .nav-bar ul{
  padding: 0px;
  margin: 0px;
    

 }
 .nav-bar li{
  padding-left: 80px;
     list-style-type: none;
     padding-top: 23px;
     float: left;
 }
 .break{
     clear: both;
 }

 .nav-bar li a{
  text-decoration: none;
  color: white;
font-size: 18px;
font-weight: bold;
}


.nav-bar li a:hover{
color: #235ac0af;
margin-bottom:10px; 
  }

  .professional{
      padding-left: 200px;
      padding-top: 110px;
      width: 400px;
      color: white;
  }
.btn-1{
    margin-top: 20px;
    padding: 15px 25px 15px 25px;
    background-color: white;
    border: none;
    border-radius: 25px;
}
.btn-2{
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px 25px 15px 25px;
    background-color: #235ac0af;
    border: none;
    border-radius: 25px;
    color: white;
}
.btn-2 a{
    text-decoration: none;
}
.btn-1:hover{
    color: white;
    background-color: #235ac0af;
}
.btn-2:hover{
 border: 2px solid white;
    background-color: transparent;
    color: #000000;
}

.service{
    margin-top: 50px;
    text-align: center;
}
.our{
    background-color: #bdb9b99c;
    padding:5px 20px 5px 20px;
    border-radius: 20px;
    color: #235ac0af;
    font-size: 17px;
}
.our:hover{
    color: white;
    background-color: #235ac0af;
    cursor: pointer;
    
}

.service h1{
    color: #161616ee;
    font-size: 40px;
}

.middle{
    width: 865px;
   height: 550px;
    margin: auto;
    margin-top: 50px;
    /* background-color: red; */
}
.market{
    width: 243px;
    padding: 20px 15px 20px 15px;
    background-color: #bdb9b99c;
    text-align: center;
    margin: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    border-radius: 5px;
}
.market img{
    width: 65px;
    height: 60px;
    border-radius: 150%;
}
.market:hover{  
    background-color: #bdb9b9fb;
    color: white;
    cursor: pointer;
}

/* dfgsdfghjkl */

.word{
    padding: 30px;
    background-color: #6b6be0;
    /* height: 400px; */
}
.think{
    margin: 30px;
    float: left;

}


.advisory {
    width: 380px;
    color: white;
    display: inline-block;
    margin: 30px;
   
}

.advisory ul{
    padding: 0px;
    padding-left: 13px;
    /* margin-bottom: 35px;  */
    margin: 0px;
}

.footer{
    background-color:rgb(175, 172, 172);
    text-align: center;
}
.touch{
    padding-top:30px; 
    width: 250px;
    margin: auto;
}


.btn-3{
    margin-top: 20px;
    font-size: 17px;
    padding: 5px 30px 5px 30px;
    background-color: #23c071;
    border: none;
    color: white;
    border-radius: 5px;
    margin-bottom: 40px
}
.btn-3:hover{
       background-color: #00ff809f; 
   }

.bottom{
    background-color:rgb(128, 126, 126);
    padding:20px; 
    /* height: 50px; */
}
.bottom img{
    padding-bottom: 10px;
    width: 30px;
    border-radius: 50px;
}
