body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.container{
     max-width: 1200px;
     margin: auto;
     /* background-color: #235ac0af; */
 }
 .logo{
    width: 20px;
}
 .businet{
    padding-top: 10px;
    /* padding-bottom: 20px; */
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(87, 86, 86);
    background-color: #ffffff;
}
.status{    
    background-color: #373761e0;
    height: 120px;
}
.mail{
    font-size: 26px;
    background-color: #53538de0;
    width: 600px;
    color: #ffffff;
    padding-bottom:10px; 
    font-weight: bold;
}
.google_logo{
    padding-top: 10px;
    width: 26px;
}
 .google ul{
     margin: 0px;
     padding: 0px;
     width: 250px;
     background-color: rgb(145, 145, 145);
 }
 .google{
     float: left;
 }

 .google li{
   list-style-type: none;
   font-size: 30px;
   color: #ffffff;
   border-bottom: 1px solid rgba(202, 202, 202, 0.493);
   padding: 10px;
}

.google li a{
   text-decoration: none;
    color: #ffffff;
 }
.google li:hover{
    background-color: rgba(164, 167, 165, 0.932);
   cursor: pointer;  
 }

 .google li img{
    width: 26px;
    padding: 10px 30px 0px 10px;
    /* border-radius: 50%; */
}
.break{
    clear: both;
}

.know{
    background-color: #dfdfdf;
    padding: 20px 50px 15px 0px;
}
.lap{
    float: left;
    padding:0px 30px 0px 30px;
    margin-bottom: 60px;
}
.web{
    width: 430px;
    float: left;
 
}
.web p{
    padding-bottom: 12px;
}
.size p{
    padding-bottom: 12px;
}

